body {
    background-color: #F5F8FF;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 150px 120px 150px;
}


@media screen and (min-width: 393px) and (max-width: 640px) {
    .navbar {
        margin: 16px 28px;
    }

    .md-navbar {
        margin: 0;
    }
}
